NEXT_PUBLIC_SUPABASE_URL=https://obdexnkzfklejnyhrgvc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9iZGV4bmt6ZmtsZWpueWhyZ3ZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2MDU3MTEsImV4cCI6MjA3NTE4MTcxMX0.7aPH6AXuIeN1iXrytG-qQrvBLEwZJno16RxiiiYPGZA